{{/* {{ $result := transform.HighlightCodeBlock . }} */}}
{{- $id := dict "Scratch" .Page.Scratch | partial "function/id.html" -}}
{{- $title := .Attributes.title | default .Type | default "text" -}}
{{- $language := .Type | default "text" -}}
{{- $theme := .Attributes.theme | default "candy" -}}
{{- $mode := .Attributes.mode | default "light" -}}
{{/*  默认根据主题，显示背景图片  */}}
{{- $nobackground := .Attributes.nobackground | default false -}}
{{- $lineNos := cond (eq .Options.linenos false) "" "show-line-numbers" -}}
{{- $lines := len (split .Inner "\n") -}}
{{- $maxShownLines := .Page.Params.code.maxshownlines | default site.Params.page.code.maxshownlines -}}
{{- $open := "is-open" -}}
{{- if eq .Attributes.open nil -}}
{{- $open = cond (gt $lines $maxShownLines) "is-closed" "is-open" -}}
{{- else -}}
{{- $open = cond (eq .Attributes.open false) "is-closed" "is-open" -}}
{{- end -}}
{{- $wrap := cond (eq .Attributes.wrap true) "is-wrap" "" -}}
{{- $header := cond (eq .Attributes.header false) "tw-hidden" "" -}}

<div class="code-block  {{ $open }} {{ $lineNos }} {{ $wrap }} tw-group tw-my-2" >
  <div class = "code-wrapper {{$mode}}" data-theme="{{$mode}}" id = "code-block-{{$id}}">
  <div class="withBackground {{ $theme }}"  />
    <div id="code-background" data-ignore-in-export className={styles.transparentPattern}></div>
    <div class="window">
      <div id="codeblock-header" class="header">
        <div class="controls">
          <div class="control"></div>
          <div class="control"></div>
          <div class="control"></div>
        </div>
        <div className={classNames(styles.fileName, styles.supabaseFileName)} id="codeblock-title" class="fileName"
          data-value={fileName}>
          <span> {{ $title }}</span>
        </div>
        <div class="controls-buttons" id ="controls-button-{{$id}}">
          <button id = "copyButton-{{ $id }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#000"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-copy">
              <rect width="14" height="14" x="8" y="8" rx="2" ry="2" />
              <path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2" />
            </svg>
          </button>
          <button id = "copySuccess-{{ $id }}" style="display: none;" class = "not-allowed" disabled = "true">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="green"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clipboard-check">
              <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
              <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2" />
              <path d="m9 14 2 2 4-4" />
            </svg>
          </button>

          <button id = "exportImage-{{ $id }}" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="7 10 12 15 17 10"/><line x1="12" x2="12" y1="15" y2="3"/></svg>
          </button>
        </div>
      </div>



     <div   
  data-language = "{{ $language}}" data-theme = "{{ $theme}}-{{$mode}}" id = "codeblock-{{ $id }}">{{ .Inner }}</div>
    </div>

  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<script type="module">
  import { codeToHtml,getHighlighter } from 'https://esm.sh/shiki@1.0.0'
   const THEMES = {
    vercel: {
      id: "vercel",
      name: "Vercel",
      background: {
        from: "#232323",
        to: "#1F1F1F",
      },

      font: "geist-mono",
      partner: true,
      syntax: {
        light: convertToShikiTheme({
          foreground: "hsla(0, 0%, 9%,1)",
          constant: "oklch(53.18% 0.2399 256.9900584162342)",
          string: "oklch(51.75% 0.1453 147.65)",
          comment: "hsla(0, 0%, 40%,1)",
          keyword: "oklch(53.5% 0.2058 2.84)",
          parameter: "oklch(52.79% 0.1496 54.65)",
          function: "oklch(47.18% 0.2579 304)",
          stringExpression: "oklch(51.75% 0.1453 147.65)",
          punctuation: "hsla(0, 0%, 9%,1)",
          link: "oklch(51.75% 0.1453 147.65)",
          number: "#111111",
          property: "oklch(53.18% 0.2399 256.9900584162342)",
          highlight: "oklch(94.58% 0.0293 249.84870859673202)",
          highlightHover: "oklch(94.58% 0.0293 249.84870859673202 / 30%)",
          highlightBorder: "oklch(53.18% 0.2399 256.9900584162342)",
        }),
        dark: convertToShikiTheme({
          foreground: "hsla(0, 0%, 93%,1)",
          constant: "oklch(71.7% 0.1648 250.79360374054167)",
          string: "oklch(73.1% 0.2158 148.29)",
          comment: "hsla(0, 0%, 63%,1)",
          keyword: "oklch(69.36% 0.2223 3.91)",
          parameter: "oklch(77.21% 0.1991 64.28)",
          function: "oklch(69.87% 0.2037 309.51)",
          stringExpression: "oklch(73.1% 0.2158 148.29)",
          punctuation: "hsla(0, 0%, 93%,1)",
          link: "oklch(73.1% 0.2158 148.29)",
          number: "#ffffff",
          property: "oklch(71.7% 0.1648 250.79360374054167)",
          highlight: "oklch(30.86% 0.1022 255.21)",
          highlightHover: "oklch(30.86% 0.1022 255.21 / 30%)",
          highlightBorder: "oklch(71.7% 0.1648 250.79360374054167)",
        }),
      },
    },
    rabbit: {
      id: "rabbit",
      name: "Evil Rabbit",
      background: {
        from: "#000000",
        to: "#000000",
      },

      font: "geist-mono",
      partner: true,
      hidden: true,
      syntax: {
        light: convertToShikiTheme({
          foreground: "#111111",
          constant: "#666666",
          parameter: "#666666",
          stringExpression: "#666666",
          keyword: "#666666",
          function: "#111111",
          punctuation: "#666666",
          string: "#666666",
          comment: "#999999",
          link: "#666666",
          number: "#111111",
          property: "#666666",
        }),
        dark: convertToShikiTheme({
          foreground: "#ffffff",
          constant: "#a7a7a7",
          parameter: "#a7a7a7",
          stringExpression: "#a7a7a7",
          keyword: "#a7a7a7",
          function: "#ffffff",
          punctuation: "#a7a7a7",
          string: "#a7a7a7",
          comment: "#666666",
          link: "#a7a7a7",
          number: "#ffffff",
          property: "#a7a7a7",
        }),
      },
    },
    supabase: {
      id: "supabase",
      name: "Supabase",
      background: {
        from: "#121212",
        to: "#121212",
      },

      partner: true,
      font: "ibm-plex-mono",
      syntax: {
        light: convertToShikiTheme({
          foreground: "#171717",
          constant: "#009a55",
          string: "#ededed",
          comment: "#a6a6a6",
          keyword: "#a0a0a0",
          parameter: "#ededed",
          function: "#009a55",
          stringExpression: "#009a55",
          punctuation: "#a0a0a0",
          link: "#171717",
          number: "#171717",
          property: "#009a55",
          highlight: "oklch(0.88 0.22 153.28 / 0.12)",
          highlightHover: "oklch(0.88 0.22 153.28 / 0.06)",
          highlightBorder: "#009a55",
        }),
        dark: convertToShikiTheme({
          foreground: "#ededed",
          constant: "#3ecf8e",
          string: "#ededed",
          comment: "#707070",
          keyword: "#a0a0a0",
          parameter: "#ededed",
          function: "#3ecf8e",
          stringExpression: "#3ecf8e",
          punctuation: "#ededed",
          link: "#ededed",
          number: "#ededed",
          property: "#3ecf8e",
          highlight: "#232323",
          highlightHover: "#1D1D1D",
          highlightBorder: "#383838",
        }),
      },
    },
    tailwind: {
      id: "tailwind",
      name: "Tailwind",
      background: {
        from: "#36B6F0",
        to: "#36B6F0",
      },

      partner: true,
      lineNumbers: true,
      font: "fira-code",
      syntax: {
        light: convertToShikiTheme({
          foreground: "#000",
          highlightBorder: "#0484C7",
          highlight: "rgba(25,147,211,0.10)",
          highlightHover: "rgba(25,147,211,0.06)",
        }),
        dark: convertToShikiTheme({
          foreground: "#fff",
          highlightBorder: "#C1B2F9",
          highlight: "rgba(193,178,249,0.12)",
          highlightHover: "rgba(193,178,249,0.07)",
        }),
      },
    },
    bitmap: {
      id: "bitmap",
      name: "Bitmap",
      background: {
        from: "#881616",
        to: "#F1393F",
      },
      syntax: {
        light: convertToShikiTheme({
          foreground: "#685B5B",
          constant: "#C90028",
          string: "#836250",
          comment: "#B83737",
          keyword: "#D63838",
          parameter: "#5E4040",
          function: "#C90028",
          stringExpression: "#836250",
          punctuation: "#BE3B3B",
          link: "#BE3B3B",
          number: "#C94F0A",
          property: "#D15510",
          highlight: "hsla(348, 100%, 39%, 0.08)",
          highlightBorder: "#C90028",
          highlightHover: "hsla(348, 100%, 39%, 0.05)",
        }),
        dark: convertToShikiTheme({
          foreground: "#FEFDFD",
          constant: "#E42B37",
          string: "#E42B37",
          comment: "#996B6D",
          keyword: "#EB6F6F",
          parameter: "#C88E8E",
          function: "#E42B37",
          stringExpression: "#EBB99D",
          punctuation: "#EB6F6F",
          link: "#EB6F6F",
          number: "#E42B37",
          property: "#E42B37",
          highlight: "hsla(355, 76%, 63%, 0.25)",
          highlightBorder: "#E42B37",
          highlightHover: "hsla(355, 76%, 63%, 0.16)",
        }),
      },
    },
    noir: {
      id: "noir",
      name: "Noir",
      background: {
        from: "#B1B1B1",
        to: "#181818",
      },
      syntax: {
        light: convertToShikiTheme({
          foreground: "#111111",
          constant: "#666666",
          parameter: "#666666",
          stringExpression: "#666666",
          keyword: "#666666",
          function: "#111111",
          punctuation: "#666666",
          string: "#666666",
          comment: "#999999",
          link: "#666666",
          number: "#111111",
          property: "#666666",
        }),
        dark: convertToShikiTheme({
          foreground: "#ffffff",
          constant: "#a7a7a7",
          parameter: "#a7a7a7",
          stringExpression: "#a7a7a7",
          keyword: "#a7a7a7",
          function: "#ffffff",
          punctuation: "#a7a7a7",
          string: "#a7a7a7",
          comment: "#666666",
          link: "#a7a7a7",
          number: "#ffffff",
          property: "#a7a7a7",
        }),
      },
    },
    ice: {
      id: "ice",
      name: "Ice",
      background: {
        from: "#fff",
        to: "#80deea",
      },
      syntax: {
        light: convertToShikiTheme({
          foreground: "#1C1B29",
          constant: "#00B0E9",
          string: "#6ABAD8",
          comment: "#BDC0C1",
          keyword: "#81909D",
          parameter: "#1E3C78",
          function: "#1E3C78",
          stringExpression: "#7BBCD8",
          punctuation: "#1E3C78",
          link: "#1E3C78",
          number: "#00B0E9",
          property: "#00B0E9",
          highlight: "rgba(0,167,219,0.1)",
          highlightBorder: "#00B0E9",
          highlightHover: "rgba(0,167,219,0.05)",
        }),
        dark: convertToShikiTheme({
          foreground: "#FFFFFF",
          constant: "#92DEF6",
          string: "#92DEF6",
          comment: "#5C6A70",
          keyword: "#BFC4C9",
          parameter: "#778CB6",
          function: "#778CB6",
          stringExpression: "#89C3DC",
          punctuation: "#778CB6",
          link: "#778CB6",
          number: "#00B0E9",
          property: "#00B0E9",
          highlight: "rgba(146,222,246,0.14)",
          highlightBorder: "#92DEF6",
          highlightHover: "rgba(146,222,246,0.09)",
        }),
      },
    },
    sand: {
      id: "sand",
      name: "Sand",
      background: {
        from: "#EED5B6",
        to: "#AF8856",
      },
      syntax: {
        light: convertToShikiTheme({
          foreground: "#262217",
          constant: "#A28C4E",
          string: "#A28C4E",
          comment: "#C4B39C",
          keyword: "#906937",
          parameter: "#DA8744",
          function: "#DA8744",
          stringExpression: "#C57416",
          punctuation: "#DA8744",
          link: "#DA8744",
          number: "#A28C4E",
          property: "#A28C4E",
          highlight: "rgba(218,135,68,0.1)",
          highlightBorder: "#DA8744",
          highlightHover: "rgba(218,135,68,0.05)",
        }),
        dark: convertToShikiTheme({
          foreground: "#FFFFFF",
          constant: "#C2B181",
          string: "#C2B181",
          comment: "#837E77",
          keyword: "#D3B48C",
          parameter: "#F4A361",
          function: "#F4A361",
          stringExpression: "#EED5B8",
          punctuation: "#F4A361",
          link: "#F4A361",
          number: "#C2B181",
          property: "#C2B181",
          highlight: "rgba(244,163,97,0.14)",
          highlightBorder: "#F4A361",
          highlightHover: "rgba(244,163,97,0.09)",
        }),
      },
    },
    forest: {
      id: "forest",
      name: "Forest",
      background: {
        from: "#506853",
        to: "#213223",
      },
      syntax: {
        light: convertToShikiTheme({
          foreground: "#262217",
          constant: "#55725A",
          string: "#828069",
          comment: "#869288",
          keyword: "#6A8458",
          parameter: "#6B8F71",
          function: "#4B8042",
          stringExpression: "#9D891C",
          punctuation: "#78876E",
          link: "#78876E",
          number: "#78876E",
          property: "#2E382F",
          highlight: "rgba(75,148,66,0.12)",
          highlightBorder: "#4B9442",
          highlightHover: "rgba(75,148,66,0.07)",
        }),
        dark: convertToShikiTheme({
          foreground: "#FFFFFF",
          constant: "#6B8F71",
          string: "#C9C8BC",
          comment: "#555E56",
          keyword: "#AAB4A3",
          parameter: "#6B8F71",
          function: "#87B882",
          stringExpression: "#CCBD6E",
          punctuation: "#AAB4A3",
          link: "#AAB4A3",
          number: "#AAB4A3",
          property: "#C9C7BC",
          highlight: "rgba(170,180,163,0.14)",
          highlightBorder: "#6B8F71",
          highlightHover: "rgba(170,180,163,0.09)",
        }),
      },
    },
    mono: {
      id: "mono",
      name: "Mono",
      background: {
        from: "#333",
        to: "#181818",
      },
      syntax: {
        light: convertToShikiTheme({
          foreground: "#111111",
          constant: "#666666",
          parameter: "#666666",
          stringExpression: "#666666",
          keyword: "#666666",
          function: "#111111",
          punctuation: "#666666",
          string: "#666666",
          comment: "#999999",
          link: "#666666",
          number: "#111111",
          property: "#666666",
        }),
        dark: convertToShikiTheme({
          foreground: "#ffffff",
          constant: "#a7a7a7",
          parameter: "#a7a7a7",
          stringExpression: "#a7a7a7",
          keyword: "#a7a7a7",
          function: "#ffffff",
          punctuation: "#a7a7a7",
          string: "#a7a7a7",
          comment: "#666666",
          link: "#a7a7a7",
          number: "#ffffff",
          property: "#a7a7a7",
        }),
      },
    },
    breeze: {
      id: "breeze",
      name: "Breeze",
      background: {
        from: "#CF2F98",
        to: "#6A3DEC",
      },
      syntax: {
        light: convertToShikiTheme({
          foreground: "#434447",
          constant: "#0B7880",
          parameter: "#C44170",
          function: "#C44170",
          keyword: "#496EB8",
          stringExpression: "#886594",
          punctuation: "#C44170",
          string: "#886594",
          comment: "#8C828B",
          link: "#625B6B",
          number: "#24805E",
          property: "#0B7880",
        }),
        dark: convertToShikiTheme({
          foreground: "#FFFFFF",
          constant: "#49E8F2",
          parameter: "#F8518D",
          function: "#F8518D",
          keyword: "#6599FF",
          stringExpression: "#E9AEFE",
          punctuation: "#F8518D",
          string: "#E9AEFE",
          comment: "#8A757D",
          link: "#ECFEEF",
          number: "#55E7B2",
          property: "#49E8F2",
        }),
      },
    },
    candy: {
      id: "candy",
      name: "Candy",
      background: {
        from: "#A58EFB",
        to: "#E9BFF8",
      },
      syntax: {
        light: convertToShikiTheme({
          foreground: "#434447",
          constant: "#2286A6",
          string: "#B2762E",
          comment: "#8D949B",
          keyword: "#DC155E",
          parameter: "#009033",
          function: "#009033",
          stringExpression: "#B2762E",
          punctuation: "#d15a8b",
          link: "#d15a8b",
          number: "#676DFF",
          property: "#2286A6",
        }),
        dark: convertToShikiTheme({
          foreground: "#FFFFFF",
          constant: "#1AC8FF",
          string: "#DFD473",
          comment: "#807796",
          keyword: "#FF659C",
          parameter: "#1AC8FF",
          function: "#73DFA5",
          stringExpression: "#DFD473",
          punctuation: "#FF659C",
          link: "#FF659C",
          number: "#7A7FFD",
          property: "#1AC8FF",
        }),
      },
    },
    crimson: {
      id: "crimson",
      name: "Crimson",
      background: {
        from: "#FF6363",
        to: "#733434",
      },
      syntax: {
        light: convertToShikiTheme({
          foreground: "#685B5B",
          constant: "#C94F0A",
          string: "#836250",
          comment: "#978A8A",
          keyword: "#BE3B3B",
          parameter: "#9E7070",
          function: "#9E7070",
          stringExpression: "#836250",
          punctuation: "#BE3B3B",
          link: "#BE3B3B",
          number: "#C94F0A",
          property: "#D15510",
        }),
        dark: convertToShikiTheme({
          foreground: "#FEFDFD",
          constant: "#D15510",
          string: "#EBB99D",
          comment: "#895E60",
          keyword: "#EB6F6F",
          parameter: "#C88E8E",
          function: "#C88E8E",
          stringExpression: "#EBB99D",
          punctuation: "#EB6F6F",
          link: "#EB6F6F",
          number: "#FDA97A",
          property: "#D15510",
        }),
      },
    },
    falcon: {
      id: "falcon",
      name: "Falcon",
      background: {
        from: "#BDE3EC",
        to: "#363654",
      },
      syntax: {
        light: convertToShikiTheme({
          foreground: "#464C65",
          constant: "#839AA7",
          string: "#506483",
          comment: "#9DA4AD",
          keyword: "#5C827D",
          parameter: "#6A7C9F",
          function: "#6A7C9F",
          stringExpression: "#46615D",
          punctuation: "#5C827D",
          link: "#5C827D",
          number: "#AE6A65",
          property: "#839AA7",
        }),
        dark: convertToShikiTheme({
          foreground: "#FFFFFF",
          constant: "#799DB1",
          string: "#6A8697",
          comment: "#6D7E88",
          keyword: "#9AB6B2",
          parameter: "#6D88BB",
          function: "#6D88BB",
          stringExpression: "#789083",
          punctuation: "#9AB6B2",
          link: "#9AB6B2",
          number: "#BD9C9C",
          property: "#799DB1",
        }),
      },
    },
    meadow: {
      id: "meadow",
      name: "Meadow",
      background: {
        from: "#59D499",
        to: "#A0872D",
      },
      syntax: {
        light: convertToShikiTheme({
          foreground: "#54594D",
          constant: "#B6781B",
          string: "#837E50",
          comment: "#72806E",
          keyword: "#049649",
          parameter: "#798B52",
          function: "#798B52",
          stringExpression: "#837E50",
          punctuation: "#049649",
          link: "#049649",
          number: "#2C8801",
          property: "#B6781B",
        }),
        dark: convertToShikiTheme({
          foreground: "#FFFFFF",
          constant: "#E4B165",
          string: "#E9EB9D",
          comment: "#708B6C",
          keyword: "#6DD79F",
          parameter: "#B3D767",
          function: "#B3D767",
          stringExpression: "#E9EB9D",
          punctuation: "#6DD79F",
          link: "#6DD79F",
          number: "#46B114",
          property: "#E4B165",
        }),
      },
    },
    midnight: {
      id: "midnight",
      name: "Midnight",
      background: {
        from: "#4CC8C8",
        to: "#202033",
      },
      syntax: {
        light: convertToShikiTheme({
          foreground: "#434447",
          constant: "#766599",
          string: "#5F758F",
          comment: "#78808C",
          keyword: "#587678",
          parameter: "#2F788F",
          function: "#2F788F",
          stringExpression: "#5F758F",
          punctuation: "#587678",
          link: "#5A797A",
          number: "#2D8264",
          property: "#766599",
        }),
        dark: convertToShikiTheme({
          foreground: "#FFFFFF",
          constant: "#9681C2",
          string: "#6D86A4",
          comment: "#4A4C56",
          keyword: "#7DA9AB",
          parameter: "#51D0F8",
          function: "#51D0F8",
          stringExpression: "#6D86A4",
          punctuation: "#7DA9AB",
          link: "#7DA9AB",
          number: "#75D2B1",
          property: "#9681C2",
        }),
      },
    },
    raindrop: {
      id: "raindrop",
      name: "Raindrop",
      background: {
        from: "#8EC7FB",
        to: "#1C55AA",
      },
      syntax: {
        light: convertToShikiTheme({
          foreground: "#687077",
          constant: "#007BA1",
          string: "#507683",
          comment: "#6E7780",
          keyword: "#008DAC",
          parameter: "#4F9488",
          function: "#4F9488",
          stringExpression: "#507683",
          punctuation: "#008DAC",
          link: "#008DAC",
          number: "#7459E1",
          property: "#007BA1",
        }),
        dark: convertToShikiTheme({
          foreground: "#E4F2FF",
          constant: "#008BB7",
          string: "#9DD8EB",
          comment: "#6C808B",
          keyword: "#2ED9FF",
          parameter: "#1AD6B5",
          function: "#1AD6B5",
          stringExpression: "#9DD8EB",
          punctuation: "#2ED9FF",
          link: "#2ED9FF",
          number: "#9984EE",
          property: "#008BB7",
        }),
      },
    },
    sunset: {
      id: "sunset",
      name: "Sunset",
      background: {
        from: "#FFCF73",
        to: "#FF7A2F",
      },
      syntax: {
        light: convertToShikiTheme({
          foreground: "#737568",
          constant: "#AD5A78",
          string: "#8C703C",
          comment: "#7A7055",
          keyword: "#A1642C",
          parameter: "#807410",
          function: "#807410",
          stringExpression: "#8C703C",
          punctuation: "#A1642C",
          link: "#A1642C",
          number: "#856F00",
          property: "#AD5A78",
        }),
        dark: convertToShikiTheme({
          foreground: "#FFFFFF",
          constant: "#E978A1",
          string: "#F9D38C",
          comment: "#878572",
          keyword: "#FFAF65",
          parameter: "#E2D66B",
          function: "#E2D66B",
          stringExpression: "#F9D38C",
          punctuation: "#FFAF65",
          link: "#FFAF65",
          number: "#E7CF55",
          property: "#E978A1",
        }),
      },
    },
  };

  {{/*  foreground: "#434447",
  constant: "#2286A6",
  string: "#B2762E",
  comment: "#8D949B",
  keyword: "#DC155E",
  parameter: "#009033",
  function: "#009033",
  stringExpression: "#B2762E",
  punctuation: "#d15a8b",
  link: "#d15a8b",
  number: "#676DFF",
  property: "#2286A6",  */}}

  function convertToShikiTheme(colors) {
    return {
     
      settings: [
        {
          scope: ['constant'],
          settings: {
            foreground: colors.constant
          }
        },
        {
          scope: ['string'],
          settings: {
            foreground: colors.string // CSS variable
          }
        },
        {
          scope: ['comment'],
          settings: {
            foreground: colors.comment
          }
        },
        {
          scope: ['keyword'],
          settings: {
            foreground: colors.keyword
          }
        },
        {
          scope: ['parameter'],
          settings: {
            foreground: colors.parameter
          }
        },
        {
          scope: ['function'],
          settings: {
            foreground: colors.function
          }
        },
        {
          scope: ['stringExpression'],
          settings: {
            foreground: colors.stringExpression
          }
        },
        {
          scope: ['punctuation'],
          settings: {
            foreground: colors.punctuation
          }
        },
        {
          scope: ['punctuation'],
          settings: {
            foreground: colors.punctuation
          }
        },
        {
          scope: ['link'],
          settings: {
            foreground: colors.link
          }
        },
        {
          scope: ['number'],
          settings: {
            foreground: colors.number
          }
        },
        {
          scope: ['property'],
          settings: {
            foreground: colors.property
          }
        },
        
        // ...more
      ],
      fg: colors.foreground
    };
}
 
 const SHIKI_THEMES = []
 Object.entries(THEMES).forEach(([id,config])=>{
  SHIKI_THEMES.push(
    {
    name: `${id}-light`,
    ...config.syntax.light,
    bg: 'transparent'
  })
  SHIKI_THEMES.push(
    {
    name: `${id}-dark`,
    ...config.syntax.dark,
    bg: 'transparent'
  })


})

document.addEventListener("DOMContentLoaded",async function() {
    // 使用shiki进行代码高亮
    const codeElement = document.querySelector('#codeblock-{{ $id }}');
    const code = codeElement.textContent;
    const language = codeElement.dataset.language;
    const theme = codeElement.dataset.theme || "candy-light"
    console.log("data-language :" + language); // 输出: "python"
    const highlighter = await getHighlighter({
      langs: ['javascript','rust','html','tsx','java','groovy'],
      themes: SHIKI_THEMES
    })

    const highlightedCode = await highlighter.codeToHtml(code, {
      lang: language,
      theme: theme
    })
    codeElement.innerHTML = highlightedCode;
    const copyButton = document.querySelector("#copyButton-{{ $id }}");
    const copySuccess = document.querySelector("#copySuccess-{{$id}}")
    //  复制代码
    copyButton.addEventListener("click",()=>{
      navigator.clipboard.writeText(code)
      copyButton.style.display = 'none';
      copySuccess.style.display = "block"
      setTimeout(()=>{
        copyButton.style.display = 'block';
        copySuccess.style.display = "none"
      },3000)
    })

    // 导出成图片
    const controlButtons = document.querySelector("#controls-button-{{$id}}");
    const exportImageButton = document.querySelector("#exportImage-{{ $id }}");
    exportImageButton.addEventListener("click",async ()=>{
      {{/*  const wrapper = document.querySelector()  */}}
      controlButtons.style.visibility = 'hidden';
      html2canvas(document.getElementById("code-block-{{$id}}")).then(canvas => {
        // 添加 canvas 到 body，可选
        {{/*  document.body.appendChild(canvas);  */}}
    
        // 保存为图片
        var img = canvas.toDataURL("image/png");
    
        // 创建一个链接元素用于下载
        var link = document.createElement('a');
        link.download = 'my-image.png';
        link.href = img;
        link.click();
        controlButtons.style.visibility = 'visible';
    });
    
       
      
    })

  }
)

</script>


<style>
  /* .tw-hidden {
    display: none;
  } */
  /* .tw-m-0 {
    margin: 0px;
  }

  .\!tw-my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }

  .tw-mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .tw-my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .tw-my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .tw-ml-4 {
    margin-left: 1rem;
  }

  .tw-mr-1 {
    margin-right: 0.25rem;
  }

  .\!tw-block {
    display: block !important;
  }

  .tw-block {
    display: block;
  }

  .tw-inline-block {
    display: inline-block;
  }

  .tw-inline {
    display: inline;
  }

  .tw-flex {
    display: flex;
  }

  .tw-hidden {
    display: none;
  }

  .tw-h-10 {
    height: 2.5rem;
  }

  .\!tw-max-h-0 {
    max-height: 0px !important;
  }

  .tw-max-h-4 {
    max-height: 1rem;
  }

  .tw-max-h-8 {
    max-height: 2rem;
  }

  .tw-w-full {
    width: 100%;
  }

  .tw-translate-y-\[-2px\] {
    --tw-translate-y: -2px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  @keyframes tw-spin {
    to {
      transform: rotate(360deg);
    }
  }

  .tw-animate-spin {
    animation: tw-spin 1s linear infinite;
  }

  .tw-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .tw-flex-row {
    flex-direction: row;
  }

  .tw-justify-between {
    justify-content: space-between;
  }

  .tw-overflow-x-auto {
    overflow-x: auto;
  }

  .tw-overflow-y-hidden {
    overflow-y: hidden;
  }

  .tw-text-wrap {
    text-wrap: wrap;
  }

  .tw-rounded-full {
    border-radius: 9999px;
  }

  .tw-border-t-2 {
    border-top-width: 2px;
  }

  .tw-border-\[\#f0f0f0\] {
    --tw-border-opacity: 1;
    border-color: rgb(240 240 240 / var(--tw-border-opacity));
  }

  .tw-bg-bgColor-secondary {
    background-color: var(--bgColor-secondary);
  }

  .tw-bg-transparent {
    background-color: transparent;
  }

  .tw-p-0 {
    padding: 0px;
  }

  .tw-p-4 {
    padding: 1rem;
  }

  .tw-px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .tw-py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .tw-pb-8 {
    padding-bottom: 2rem;
  }

  .tw-pt-32 {
    padding-top: 8rem;
  }

  .tw-align-text-bottom {
    vertical-align: text-bottom;
  }

  .tw-text-fgColor-link-muted {
    color: var(--global-link-color);
  }

  .tw-opacity-0 {
    opacity: 0;
  }

  .tw-shadow-black {
    --tw-shadow-color: #000;
    --tw-shadow: var(--tw-shadow-colored);
  }

  .tw-transition {
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .tw-transition-\[max-height\] {
    transition-property: max-height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .tw-transition-\[transform\] {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .tw-transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .tw-duration-300 {
    transition-duration: 300ms;
  }

  .tw-duration-500 {
    transition-duration: 500ms;
  }

  .tw-ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hover\:tw-bg-bgColor-secondary:hover {
    background-color: var(--bgColor-secondary);
  }

  .hover\:tw-text-fgColor-link:hover {
    color: var(--fgColor-link);
  }

  .hover\:tw-text-fgColor-link-muted-hover:hover {
    color: var(--global-link-hover-color);
  }

  .hover\:tw-shadow-md:hover {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
      0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .tw-group.is-open .group-\[\.is-open\]\:tw-block {
    display: block;
  }

  .tw-group.is-open .group-\[\.is-open\]\:tw-hidden {
    display: none;
  }

  .tw-group.is-closed .group-\[\.is-closed\]\:\!tw-max-h-0 {
    max-height: 0px !important;
  }

  .tw-group.is-open .group-\[\.is-open\]\:tw-rotate-90 {
    --tw-rotate: 90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .tw-group.is-wrap .group-\[\.is-wrap\]\:tw-text-wrap {
    text-wrap: wrap;
  }

  .tw-group.is-wrap .group-\[\.is-wrap\]\:tw-text-fgColor-link {
    color: var(--fgColor-link);
  }

  .tw-group.show-line-numbers
    .group-\[\.show-line-numbers\]\:tw-text-fgColor-link {
    color: var(--fgColor-link);
  } */
</style>