:root {
  --font-family-paragraph: 'JetBrainsMono',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",Helvetica,"PingFangSC-Regular","Hiragino Sans GB","Lantinghei SC","Microsoft Yahei","Source Han Sans CN","WenQuanYi Micro Hei",SimSun,sans-serif;
  --font-family-title: 'JetBrainsMono',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",Helvetica,"PingFangSC-Regular","Hiragino Sans GB","Lantinghei SC","Microsoft Yahei","Source Han Sans CN","WenQuanYi Micro Hei",SimSun,sans-serif;
  --font-family-code: 'JetBrainsMono', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",Helvetica,"PingFangSC-Regular","Hiragino Sans GB","Lantinghei SC","Microsoft Yahei","Source Han Sans CN","WenQuanYi Micro Hei",SimSun,sans-serif;
  --bankuai-color: #f6f6f6;
  --background-color: #fff;
  --background-dark-color: #201d1e;
  --text-content-color:#222;
  --text-content-dark-color:#CCC;
  --text-highlight-color:#FC9151;
  --frame-dark-color: #332D2F;
  --frame-color: #eee;
  --erji-color: #666;
  --sanji-color: #999;


  --callout-border-width: 1px;
  --callout-border-opacity: 0.25;
  --callout-padding: 12px 12px 12px 24px;
  --callout-radius: 4px;
  // --callout-blend-mode: lighten;
  --callout-title-padding: 0;
  --callout-title-size: inherit;
  --callout-content-padding: 0;
  --callout-icon-note: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><line x1='18' y1='2' x2='22' y2='6'></line><path d='M7.5 20.5 19 9l-4-4L3.5 16.5 2 22z'></path></svg>");
  --callout-icon-abstract: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><rect x='8' y='2' width='8' height='4' rx='1' ry='1'></rect><path d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'></path><path d='M12 11h4'></path><path d='M12 16h4'></path><path d='M8 11h.01'></path><path d='M8 16h.01'></path></svg>");
  --callout-icon-info: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><circle cx='12' cy='12' r='10'></circle><line x1='12' y1='16' x2='12' y2='12'></line><line x1='12' y1='8' x2='12.01' y2='8'></line></svg>");
  --callout-icon-todo: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z'></path><path d='m9 12 2 2 4-4'></path></svg>");
  --callout-icon-tip: url("data:image/svg+xml; utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M8.5 14.5A2.5 2.5 0 0 0 11 12c0-1.38-.5-2-1-3-1.072-2.143-.224-4.054 2-6 .5 2.5 2 4.9 4 6.5 2 1.6 3 3.5 3 5.5a7 7 0 1 1-14 0c0-1.153.433-2.294 1-3a2.5 2.5 0 0 0 2.5 2.5z'></path></svg> ");
  --callout-icon-success: url("data:image/svg+xml; utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='20 6 9 17 4 12'></polyline></svg> ");
  --callout-icon-question: url("data:image/svg+xml; utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><circle cx='12' cy='12' r='10'></circle><path d='M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3'></path><line x1='12' y1='17' x2='12.01' y2='17'></line></svg> ");
  --callout-icon-warning: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z'></path><line x1='12' y1='9' x2='12' y2='13'></line><line x1='12' y1='17' x2='12.01' y2='17'></line></svg>");
  --callout-icon-failure: url("data:image/svg+xml; utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><line x1='18' y1='6' x2='6' y2='18'></line><line x1='6' y1='6' x2='18' y2='18'></line></svg> ");
  --callout-icon-danger: url("data:image/svg+xml; utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polygon points='13 2 3 14 12 14 11 22 21 10 12 10 13 2'></polygon></svg> ");
  --callout-icon-bug: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><rect width='8' height='14' x='8' y='6' rx='4'></rect><path d='m19 7-3 2'></path><path d='m5 7 3 2'></path><path d='m19 19-3-2'></path><path d='m5 19 3-2'></path><path d='M20 13h-4'></path><path d='M4 13h4'></path><path d='m10 4 1 2'></path><path d='m14 4-1 2'></path></svg>");
  --callout-icon-example: url("data:image/svg+xml; utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><line x1='8' y1='6' x2='21' y2='6'></line><line x1='8' y1='12' x2='21' y2='12'></line><line x1='8' y1='18' x2='21' y2='18'></line><line x1='3' y1='6' x2='3.01' y2='6'></line><line x1='3' y1='12' x2='3.01' y2='12'></line><line x1='3' y1='18' x2='3.01' y2='18'></line></svg> ");
  --callout-icon-quote: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M3 21c3 0 7-1 7-8V5c0-1.25-.756-2.017-2-2H4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2 1 0 1 0 1 1v1c0 1-1 2-2 2s-1 .008-1 1.031V20c0 1 0 1 1 1z'></path><path d='M15 21c3 0 7-1 7-8V5c0-1.25-.757-2.017-2-2h-4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2h.75c0 2.25.25 4-2.75 4v3c0 1 0 1 1 1z'></path></svg>");
  --callout-icon-fold: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");



}
$breakpoints: (
  'small': 700px,
  'medium': 900px,
  'large': 1200px,
);

@import 'normalize';
@import 'breakpoints';
@import 'header';
@import 'footer';
@import 'content';
@import 'intro';
@import 'summary';
@import 'main-menu-mobile';
@import 'pygments/github';
@import 'comment';
@import 'app';
@import 'hardware';
@import 'tags';
@import 'movies';
@import 'memos';
@import 'index';
@import 'about';
@import "callout";
@import 'list';
@import 'tiaozhuan';
@import 'cmdk';
@import 'newretu';
@import 'shortcodes';
@import "_codeblock";
@import '_workout';
//@import url('https://s1.hdslb.com/bfs/static/jinkela/long/font/medium.css');




@font-face {
  font-style: normal;
  font-family: "HWMCT";
  src: url("/fonts/HWMCT.otf") format("truetype");
  unicode-range: U+4E00–9FFF;
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  src: url('https://img.koobai.com/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  unicode-range: U+61-7a,U+41-5a,U+30-39;
}

html, body {
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  font-family: var(--font-family-paragraph);
  color: var(--text-content-color);
  margin: 0;
  padding: 0 20px 0 20px;
  overflow-x: hidden;
  @include breakpoint('small') {
    padding: 0 30px 0 30px;
  }
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.highlight{background-color: var(--bankuai-color);}
//文本选择高亮颜色
::selection {
  background: #ffe8da;
}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
body {
    background: #1A1718;
    color: var(--text-content-dark-color);
}
p {
  color: var(--text-content-dark-color);
}
h1,
h2{
  color: #CCCCCC;
}
h3 {
  color: #FFF;
}
a {
  color: var(--text-content-dark-color);
}
.author{
  color: #CCCCCC;
}
.summary-date{color: #AAAAAA;}
.highlight{background-color: var(--background-dark-color);}
img {filter: brightness(0.8) contrast(1.2); }
.highlight pre { background: var(--background-dark-color) !important;}
::selection {
  background: #634939;
}
}

// 页面上滑加载动画
@media (min-width: 900px) {
.img-hide,.retu-hide {
  opacity: 0;
  transform: translateY(6%);
  transition: opacity 0.4s ease, transform 0.8s ease;
}
.img-hide.visible,.retu-hide.visible {
  opacity: 1;
  transform: translateY(0);
}
}

