<div class="footer-background">
<div class="footer">
        <div class="footer-info">&copy; {{ now.Year }} <a href="{{ .Sites.First.Home.RelPermalink }}">Ygria's Blog</a>.
        由 <a href="https://koobai.com/" target="_blank"> KooBai </a> 提供模板
      </div>
      <div class="footer-rss">
<!--      <a href="https://memos.koobai.com/u/1/rss.xml" target="_blank">唠叨 RSS</a> / -->
<!--      <a href="https://koobai.com/index.xml" target="_blank">博文 RSS</a>-->
      </div>
      <div class="footer-cmdk"><div class="footer-cmdk-key">⌘</div>+<div class="footer-cmdk-key">K</div>或<div class="footer-cmdk-key">⌥</div>+<div class="footer-cmdk-key">K</div></div>
    </div>
  </div>
 <!--图片灯箱 -->
 <script src="/js/view-image.min.js"></script>
 <!--⌘+k功能-->
{{ partial "cmdk" . }}
<script src="/js/cmdk.js"></script>

   
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
{{ $hightlightJS := resources.Get "js/hightlight.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $hightlightJS.Permalink }}" defer type = "module"></script>

  <!--访问统计-->
  <!-- <script defer src="https://u.koobai.com/yangle2024.js" data-website-id="ab2335cb-0a60-4eec-903c-8db6a2ad320d" data-domains="koobai.com"></script> -->
  <!--回到顶部-->
<div class="gotop_hide">
  <div class="gotop" onclick="smoothScrollTop()" id="gotop"><img src="/icons/arrow-up.png" alt="回到顶部" title="回到顶部" /></div>
</div>