{{ $number := .number }}
{{ $movies := index .Site.Data.douban "movie" }}
{{ $filteredMovies := slice }}

{{ range $movies }}
{{ if eq .status "done" }}
{{ $filteredMovies = $filteredMovies | append . }}
{{ end }}
{{ end }}

{{ $topMovies := first $number $filteredMovies }}

<div class="movie-quanju">
  {{range $idx,$movie := $topMovies}}
  <!--封面地址替换 -->
  {{ $imagePath := printf "images/douban/%s.jpg" (path.Base $movie.subject_id)
  }} {{ $defaultImg := "images/default/default_movie.jpg"}} {{ $year :=
  dateFormat "2006" (time $movie.create_time) }} {{ $myRating := 0 }} {{ with
  $movie.my_rating }} {{ $myRating = .value }} {{ end }} {{if ne $idx 0}}

  <!--评分改成星星 -->
  {{ $rating := $movie.douban_score }} {{ end }}
  <div class="movies_bankuai img-hide">
    <a rel="noreferrer" href="{{ $movie.link }}" target="_blank">
      <img src="{{ $imagePath | absURL }}" loading="lazy" alt="{{ $movie.name}}" title="{{$movie.name }}" />
    </a>
    <div class="movies-nrong">
      <div class="movie-title">
        <a rel="noreferrer" href="{{ $movie.link }}" target="_blank">{{ $movie.name }}</a>
      </div>
      <div class="movie-pfeng">
        {{ if gt $myRating 0 }} {{ range $i := seq 1 $myRating }}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
          <path fill="currentColor"
            d="M12 17.27L18.18 21l-1.64-7.03L22 9.24h-7.19L12 2l-2.81 7.24H2 l5.46 4.73L5.82 21z" />
        </svg>
        {{ end }} {{ end }}
      </div>
      <div class="movie-info">观感 : {{$movie.comment }}</div>
      <div class="movie-time">
        <script>
          document.write(formatDate({{ $movie.create_time }}));
        </script>
      </div>
    </div>
  </div>
  {{ end }}
</div>