{{ define "body_classes" }}page-movies{{ end }} {{ define "main" }}

<div>
  <p class = "movie-description">{{ .Params.description }}</p>
</div>


<div class="movies_video">
  <video class="video-source" id="TopGif" width="100%" height="100%" style="object-fit: cover" webkit-playsinline="true"
    x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-orientation="h5"
    x5-video-player-fullscreen="true" preload="auto" autoplay="true" loop="" muted="">
    <source src="" type="video/mp4" />
  </video>
</div>


{{$movies := getJSON "data/douban/movie.json" }}
{{$scratch := newScratch}}
{{$scratch.Add "genres" slice}}
{{range $idx, $movie := $movies}}
{{if ne $idx 0}}
{{$scratch.Set "genres" (union ($scratch.Get "genres") (split (
$movie.genres) ","))}}
{{end}}
{{end}}

<svg id="filter-toggle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
  stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-filter">
  <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" />
</svg>

<div id="filters" class="hidden">

  <div class="movie-search-items">
    <a href="javascript:void 0;" class="sc-gtsrHT kEoOHR" data-search="status" data-method="contain"
      data-value="">全部</a>
    <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="status" data-method="equal"
      data-value="mark">想看</a>
    <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="status" data-method="equal"
      data-value="doing">在看</a>
    <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="status" data-method="equal"
      data-value="done">看过</a>
  </div>

  <div class="movie-search-items">
    <a href="javascript:void 0;" class="sc-gtsrHT kEoOHR" data-search="genres" data-method="contain"
      data-value="">全部</a>
    {{range $genre := $scratch.Get "genres"}}
    <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="genres" data-method="contain"
      data-value="{{$genre}}">{{$genre}}</a>
    {{end}}
  </div>
  <div class="movie-search-items">
    <a href="javascript:void 0;" class="sc-gtsrHT kEoOHR" data-search="year" data-method="equal" data-value="">全部</a>
    {{range $year := (seq 2023 -1 2012)}}
    <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="year" data-method="equal"
      data-value="{{$year}}">{{$year}}</a>
    {{end}}
  </div>
  <div class="movie-search-items">
    <a href="javascript:void 0;" class="sc-gtsrHT kEoOHR" data-search="star" data-method="equal" data-value="">全部</a>
    <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal" data-value="5">五星</a>
    <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal" data-value="4">四星</a>
    <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal" data-value="3">三星</a>
    <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal" data-value="2">二星</a>
    <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal" data-value="1">一星</a>
    <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal" data-value="0">零星</a>
  </div>
</div>

<div id="movies_page">

  {{range $idx, $movie := $movies}}
  {{if ne $idx 0 }}
  <!--封面地址替换 -->
  {{ $imagePath := printf "images/douban/%s.jpg" (path.Base ($movie.subject_id)) }}
  {{ $defaultImg := "images/default/default_movie.jpg"}}

  <!--评分改成星星 -->
  {{ $rating := index $movie.douban_score }}
  {{ $year := dateFormat "2006" (time $movie.create_time) }}
  {{ $myRating := "" }}
  {{ with .my_rating }}
  {{ $myRating = .value }}
  {{ end }}




  <div class="movies_card img-hide" data-year="{{$year}}" data-status="{{$movie.status}}" data-star="{{$myRating}}"
    data-genres="{{ $movie.genres}}">
    <a rel="link" href="{{$movie.link_url}}" target="_blank">
      <img class="avatar" src="{{ $imagePath | absURL }}" alt="{{  $movie.name }}" load="lazy"
        onerror="this.onerror=null; this.src={{$defaultImg| absURL}}" /></a>
    <div class="movies-nrong">
      <div class="movie-title">
        <a rel="link" href="{{$movie.link_url}}" target="_blank">{{$movie.name}}</a>
      </div>

      <div class="movie-info">{{$movie.comment}}</div>
      <div class="movie-time">
        <script>
          document.write(formatDate({{ $movie.create_time }}));
        </script>
      </div>
    </div>
  </div>
  {{end}} {{end}}
</div>
<div id="movies_loadMore" class="movies_loadMore">看更多...</div>
<script src="/js/movies.js?v=1.3.2"></script>
{{ end }}