{{ define "body_classes" }}page-movies{{ end }}
{{ define "main" }}
<div class="movies_video">
  <video
    class="video-source"
    id="TopGif"
    width="100%"
    height="100%"
    style="object-fit: cover"
    webkit-playsinline="true"
    x-webkit-airplay="true"
    playsinline="true"
    x5-video-player-type="h5"
    x5-video-orientation="h5"
    x5-video-player-fullscreen="true"
    preload="auto"
    autoplay="true"
    loop=""
    muted=""
  >
    <source src="" type="video/mp4" />
  </video>
</div>
<div class="pagetitle">「那是一位“沉默的目击者”的形象，她贯穿了十部作品，她出现在主人公生命的某一转折性时刻，但她永远在不可穿越的距离之外，动情却无助地目击着事件的发生。」——《电影批评》</div>
  <div id="movies_page">
  {{$movies := getCSV "," "data/douban/movie.csv" }}
  {{$scratch := newScratch}}
  {{$scratch.Add "genres" slice}}
  {{range $idx, $movie := $movies}}
    {{if ne $idx 0}}
      {{$scratch.Set "genres" (union ($scratch.Get "genres") (split (index $movie 7) ","))}}
    {{end}}
  {{end}}  
      {{range $idx, $movie := $movies}}
      {{if ne $idx 0 }}
      <!--封面地址替换 -->
      {{ $imagePath := printf "images/douban/%s.jpg" (path.Base (index $movie 0)) }}
  
      <!--个人评分改成星星 -->
      {{ $rating := index $movie 8 }}
      <div class="movies_bankuai img-hide">
          <a rel="link" href="{{index $movie 5}}" target="_blank" >
            <img class="avatar" src="{{ $imagePath | absURL }}"  alt="{{ index $movie 1 }}"></a>
            <div class="movies-nrong">
            <div class="movie-title"><a rel="link" href="{{index $movie 5}}" target="_blank" >{{index $movie 1}}</a></div>

            <div class="movie-info">{{index $movie 9}}</div>
            <div class="movie-time"><script>
              document.write(formatDate({{ index $movie 11 }})); 
         </script></div>
          </div>
          </div>
      {{end}}
      {{end}}
    </div>  
<div id="movies_loadMore" class="movies_loadMore">看更多...</div>
<script src="/js/movies.js?v=1.3.2"></script>
{{ end }}